In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib notebook
plt.style.use('bmh')

In [11]:
NNData=pd.read_csv('1651894376scores.csv')
NNData.describe()

,Batch Size,HL_Scaler,Learning Rate,Training Score,Testing Score,NN Controller Pass Count,NN AVG Controller Iterations
count,12.00000,12.000000,12.0000,12.000000,12.000000,12.000000,12.000000
mean,96.00000,2.333333,0.0055,0.006646,0.009482,21.333333,1818.745833
std,33.42291,1.302678,0.0047,0.003170,0.001519,4.978743,89.565363
min,64.00000,1.000000,0.0010,0.003100,0.007791,10.000000,1618.166667
25%,64.00000,1.000000,0.0010,0.003725,0.008068,18.750000,1782.329167
50%,96.00000,2.000000,0.0055,0.006424,0.009318,23.000000,1828.358333
75%,128.00000,4.000000,0.0100,0.009333,0.010544,25.250000,1861.566667
max,128.00000,4.000000,0.0100,0.010453,0.011726,26.000000,1987.166667

In [12]:
FData=pd.read_csv('forceResults.csv')
FData.describe()

          Success  Control Iters    World ID
count  300.000000     300.000000  300.000000
mean     0.470000    1499.110000  149.500000
std      0.499933     809.900129   86.746758
min      0.000000      59.000000    0.000000
25%      0.000000     773.500000   74.750000
50%      0.000000    1670.000000  149.500000
75%      1.000000    2116.000000  224.250000
max      1.000000    3748.000000  299.000000

# Baseline Performance of Potential Field Method:

In [17]:
tws=FData['Success'].sum()

print('The gradient method is succesful on %d of %d worlds'%(tws,FData['World ID'].count()))

The gradient method is succesful on 141 of 300 worlds

In [20]:
F_avg_ctrl_iters=FData['Control Iters'].mean()

print('The gradient method took an average of %0.2f ctrl iterations to complete'%F_avg_ctrl_iters)

The gradient method took an average of 1499.11 ctrl iterations to complete

In [25]:
SF_avg_ctrl_iters=FData[FData['Success']==1]['Control Iters'].mean()
print('Filtering out failed runs, the gradient method took an average of %0.2f ctrl iterations to complete'%SF_avg_ctrl_iters)

Filtering out failed runs, the gradient method took an average of 2054.12 ctrl iterations to complete

# NN Performance:

In [45]:
best_by_test=NNData[NNData['Testing Score']==NNData['Testing Score'].min()]
best_by_sim=NNData[NNData['NN Controller Pass Count']==NNData['NN Controller Pass Count'].max()]
print(type(best_by_test))
print(best_by_sim)

<class 'pandas.core.frame.DataFrame'>
   Batch Size  HL_Scaler  Learning Rate Optimizer  Training Score  \
3          64          2          0.001      Adam        0.003781
5          64          4          0.001      Adam        0.003423
7         128          1          0.001      Adam        0.004083

   Testing Score  NN Controller Pass Count  NN AVG Controller Iterations
3       0.007985                        26                   1880.583333
5       0.008068                        26                   1819.450000
7       0.008067                        26                   1837.266667

In [65]:
def df_to_model_str(df):
    return "(Batch Size: %d | Hddn Lyr Sz: %d | Lrnng Rt: %0.4f | AVG CTRL ITR: %0.2f | MSE: %0.7f | Worlds Passed: %d)"%(df['Batch Size'],64*df['HL_Scaler'],df['Learning Rate'],df['NN AVG Controller Iterations'],df['Testing Score'],df['NN Controller Pass Count'])
    
print("According to MSE metric on Test set, the best model was: \n\t%s\n which passed"%(df_to_model_str(best_by_test)))
print("According to Pass Rate in simulated Environments, the best models were: \n\t%s\n\t%s\n\t%s"%(df_to_model_str(best_by_sim.iloc[0]),df_to_model_str(best_by_sim.iloc[1]),df_to_model_str(best_by_sim.iloc[2])))

According to MSE metric on Test set, the best model was:
	(Batch Size: 64 | Hddn Lyr Sz: 64 | Lrnng Rt: 0.0010 | AVG CTRL ITR: 1801.60 | MSE: 0.0077906 | Worlds Passed: 23)
 which passed
According to Pass Rate in simulated Environments, the best models were:
	(Batch Size: 64 | Hddn Lyr Sz: 128 | Lrnng Rt: 0.0010 | AVG CTRL ITR: 1880.58 | MSE: 0.0079851 | Worlds Passed: 26)
	(Batch Size: 64 | Hddn Lyr Sz: 256 | Lrnng Rt: 0.0010 | AVG CTRL ITR: 1819.45 | MSE: 0.0080680 | Worlds Passed: 26)
	(Batch Size: 128 | Hddn Lyr Sz: 64 | Lrnng Rt: 0.0010 | AVG CTRL ITR: 1837.27 | MSE: 0.0080667 | Worlds Passed: 26)